@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('public/images/beach-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Assistant', sans-serif;
  font-size: 26px;
}

#user-message, #daily-inspiration, #quotes-display, .card {
  background-color: rgba(255,255,255,.70);
  text-align: center;
  float: none;
}

.inspiration {
  float: none;
  margin: 30px auto 0;
  text-align: center;
}
.inspiration button {
    margin: 0 5px;
}

h1 {
  float: left;
  font-family: 'Fredericka the Great', cursive;
  font-size: 100px;
  color: #fff;
}

h1.open-screen {
  text-align: center;
  float: none;
  margin: 0 auto;
  color: grey;
  font-size: 150px;
}
h4.open-screen {
  text-align: center;
  float: none;
  margin: 0 auto;
  color: grey;
  font-size: 75px;
}

h4 {
float: left;
font-family: 'Fredericka the Great', cursive;
font-size: 24px;
color: #fff;
clear: both;
}

#daily-inspiration, #quotes-display, .card {
  color: grey;
  border-radius: 20px;
  width: 800px;
  margin: 30px auto;
}

#user-message {
  width: 450px;
  margin: 30px auto;
  border-radius: 20px;
  font-size: 20px;
}

h3 {
  color: grey;
}

#quotes-display, #create{
  clear: both;
}

.quote-info {
  line-height:0.9em;
  font-size: 22px;
  padding: 20px 0;
}

.modal {
    overflow-y:scroll;
}

.body {
  clear: both;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-title {
  display: flex;
  align-items: baseline;
}

.nav h1 {
  display: flex;
}

.nav-item {
  display: flex;
  margin: 0 0 0 10px;
}
